{% extends 'exerciseBase.html' %}

{% block title %}练习册数据查询{% endblock %}


{% block body %}
    {{ super() }}

    <div style="width: 1300px;margin: 40px auto" id="exerciseData">
        <button style="width: 200px;margin-bottom:40px" type="submit" class="btn btn-default"
                @click='exerciseBranchSchoolDateSerch'>按分校查询
        </button>
                <button style="width: 200px;margin-bottom:40px;margin-left:100px" type="submit" class="btn btn-default"
                @click='exerciseSchoolDateSerch'>按学校查询
        </button>


        <template>
            <el-table
                    :data="exerciseBranchSchool_data"
                    border
                    stripe
                    style="width: 100%"
                    height="600"
                    :default-sort="{prop: 'date', order: 'descending'}"
                    empty-text="点击查询按钮查询数据"
                    v-loading.fullscreen.lock="loading"
                    element-loading-text="玩命的加载中....."
                    element-loading-spinner="el-icon-loading"
                    element-loading-background="rgba(0, 0, 0, 0.5)"
                    v-show="branchSchoolDateShow"
            >

                <el-table-column   v-for="(item,index) in exerciseBranchSchool_column" :key="index" :label="item"  :prop="item" sortable></el-table-column>


            </el-table>
        </template>


        <template>
            <el-table
                    :data="exerciseBranchSchool_data"
                    border
                    stripe
                    style="width: 100%"
                    height="600"
                    :default-sort="{prop: 'date', order: 'descending'}"
                    empty-text="点击查询按钮查询数据"
                    v-loading.fullscreen.lock="loading"
                    element-loading-text="玩命的加载中....."
                    element-loading-spinner="el-icon-loading"
                    element-loading-background="rgba(0, 0, 0, 0.5)"
                    v-show="schoolDateShow"
            >

                <el-table-column   v-for="(item,index) in exerciseBranchSchool_column" :key="index" :label="item"  :prop="item" sortable></el-table-column>

            </el-table>
        </template>

    </div>



{% endblock %}


{% block Active %} 'five' {% endblock %}
