{% extends 'base.html' %}

{% block title %}登录{% endblock %}

{% block echarts_script %} {% endblock %}
{% block china_echarts_script %} {% endblock %}


{% block navbar %}{% endblock navbar %}

{% block body %}

    <div style="width: 50%;margin: 200px auto;" id='app'>
        <div class="form-group">
            <label for="exampleInputEmail1">用户名：</label>
            <input type="text" class="form-control" id="exampleInputEmail1" v-model="username" placeholder="请输入用户名">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">密码：</label>
            <input type="password" class="form-control" id="exampleInputPassword1" v-model="password"
                   placeholder="请输入密码">
        </div>
        <span style="color: red" id='masg'></span>
        <p style="color: red;font-size: 16px">[[ masg ]]</p>
        <button style="width: 100%" type="submit" class="btn btn-default" @click='login'>登录</button>

    </div>


{% endblock %}


{% block js %}
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                masg: '',
                username: '',
                password: '',
            },
            methods: {
                login: function () {
                    axios.post('/login', {'username': this.username, 'password': this.password})
                        .then(data => {
                            console.log(data.data)
                            if (data.data.code === '0') {
                                window.location ='/index'
                            } else {
                                this.masg = data.data.masg
                                this.username = ''
                                this.password = ''

                            }

                        })
                        .catch(err => (console.log(err)))
                }
            }

        });


    </script>
{% endblock %}