{% extends 'base.html' %}

{% block title %}资资源数据查询{% endblock %}

{% block echarts_script %} {% endblock %}
{% block china_echarts_script %} {% endblock %}

{% block paper_active %}
    active
{% endblock paper_active %}

{% block body %}

    <div style="background-color:#ec4a4a;color: white;font-size: 14px;padding: 5px;text-align: center; "> 数据更新时间： {{ update_time[0].c_time }}</div>

    <div style="width: 1300px;margin: 50px auto">

        {% if paper_data %}
            <table class="table table-bordered">
                <tr>
                    <td>年级</td>
                    <td>学科</td>
                    <td>智能组卷类型</td>
                    <td>试卷名称</td>
                    <td>试卷时间</td>
                    <td>教师名称</td>
                    <td>学校ID</td>
                    <td>学校名称</td>


                </tr>
                {% for i in paper_data %}
                    <tr>
                        <td>{{ i.grade_name }}</td>
                        <td>{{ i.subject_name }}</td>
                        {% if i.wisdom_exam == 1 %}
                            <td>惠考试</td>
                        {% else %}
                            <td>智能组卷</td>
                        {% endif  %}
                        <td>{{ i.paper_name }}</td>
                        <td>{{ i.c_time }}</td>
                        <td>{{ i.teacher_name }}</td>
                        <td>{{ i.school_id }}</td>
                        <td>{{ i.name }}</td>

                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

{% endblock body %}
