{% extends 'base.html' %}

{% block title %}学校基础数据{% endblock %}


{% block school_active %}
    active
{% endblock school_active %}

{% block body %}

    <div style="width: 1300px;margin: 40px auto" id="app">
        <button style="width: 200px;margin-bottom:40px" type="submit" class="btn btn-default" @click='serch'>查询
        </button>

        <template>
            <el-table
                    :data="schooldata"
                    border
                    stripe
                    style="width: 100%"
                    :default-sort="{prop: 'date', order: 'descending'}"
                    empty-text="点击查询按钮查询数据"
                    v-loading.fullscreen.lock="loading"
                    element-loading-text="玩命的加载中....."
                    element-loading-spinner="el-icon-loading"
                    element-loading-background="rgba(0, 0, 0, 0.7)"
            >
                <el-table-column
                        prop="school_id"
                        label="学校ID"
                        sortable
                >
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="学校名字"
                        sortable
                >
                </el-table-column>
                <el-table-column
                        prop="class_count"
                        label="班级数量"
                        sortable
                >

                </el-table-column>
                <el-table-column
                        prop="axp_class_count"
                        label="爱学派班级数"
                        sortable
                >

                </el-table-column>
                <el-table-column
                        prop="tea_count"
                        label="授课教师数"
                        sortable
                >
                </el-table-column>
                <el-table-column
                        prop="stu_count"
                        label="在班级中的学生数"
                        sortable
                >
                </el-table-column>
            </el-table>
        </template>


    </div>


{% endblock %}

{% block js %}

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                schooldata: '',
                loading: false,

            },
            delimiters: ['[[', ']]'],
            methods: {
                serch: function () {
                    this.loading = true
                    axios.post('/schooldata', {'code': '0'})
                        .then(data => {
                            this.schooldata = data.data.school_data
                            this.loading = false
                        })
                        .catch(err => (console.log(err)))

                }

            }
        })


    </script>
{% endblock %}
