{% extends 'base.html' %}

{% block title %}任务数据查询{% endblock %}


{% block task_active %}
    active
{% endblock task_active %}

{% block body %}
    <div style="background-color:#ec4a4a;color: white;font-size: 14px;padding: 5px;text-align: center; ">
        数据更新时间： {{ update_time[0].c_time }} </div>
    <div class="panel panel-default" style="width: 49%;height: 500px;margin: 20px 10px 10px 5px;float: left">
        <div class="panel-heading">任务分布</div>
        <div id='pie' style="width: 100%;height: 100%;"></div>
    </div>

    <div class="panel panel-default" style="width: 49%;height: 500px;margin: 20px 10px 10px 5px;float: left">
        <div class="panel-heading">任务趋势</div>
        <div id='line' style="width: 100%;height: 90%;"></div>
    </div>
    <div class="panel panel-default" style="width: 49%;height: 500px;margin: 10px 10px 10px 5px;float: left">
        <div class="panel-heading">任务趋势</div>
        <div id='task_type_line' style="width: 100%;height: 90%;"></div>
    </div>



{% endblock body %}



{% block js %}
    <script type="text/javascript">
        // 任务分布
        var myChart = echarts.init(document.getElementById('pie'));
        let index = 0;
        var colorList = ['#73DDFF', '#73ACFF', '#FDD56A', '#FDB36A', '#FD866A', '#9E87FF', '#58D5FF'];

        option = {
            title: {
                text: '任务数据',
                x: 'center',
                y: 'center',
                textStyle: {
                    fontSize: 20
                }
            },
            tooltip: {
                trigger: 'item'
            },
            series: [{
                type: 'pie',
                center: ['50%', '50%'],
                radius: ['24%', '45%'],
                clockwise: true,
                avoidLabelOverlap: true,
                hoverOffset: 30,
                emphasis: {
                    itemStyle: {
                        borderColor: '#f3f3f3',
                        borderWidth: 1
                    }
                },
                itemStyle: {
                    normal: {
                        color: function (params) {
                            return colorList[params.dataIndex]
                        }
                    }
                },
                label: {
                    show: true,
                    position: 'outside',
                    formatter: '{b} : {c} ({d}%)',

                    rich: {
                        hr: {
                            backgroundColor: 't',
                            borderRadius: 3,
                            width: 3,
                            height: 3,
                            padding: [3, 3, 0, -12]
                        },
                        a: {
                            padding: [-30, 15, -20, 15]
                        }
                    }
                },
                labelLine: {
                    normal: {
                        length: 20,
                        length2: 30,
                        lineStyle: {
                            width: 1
                        }
                    }
                },
                data: {{ task_data_list | safe }},
            }]
        };

        myChart.setOption(option);

        // 任务趋势
        var myChart = echarts.init(document.getElementById('line'));
        var option = {{ task_count_line | safe }}
            myChart.setOption(option);

        // 任务类型趋势
        var myChart = echarts.init(document.getElementById('task_type_line'));
        var option = {{ task_type_line | safe }};
            myChart.setOption(option);

    </script>
{% endblock %}